                __/   _
        .__  __.  \__/   __
         .-`'-.   /  \__/
     .-.(  oo  ).-. _/  \__/
 __ :   \".~~."/   ; \__/
/  \_`.  Y`--'Y  .' _/  \__
 __/  `./======\.'   \__/  \_
/  \__/ \======/  \__/  \__/
\__/   (_`----'_)    \__/  \ (PS)
"""""""""""""""""""""""""""""""""
