            ________
           / ______ \
           || _  _ ||
           ||| || |||
           |||_||_|||
           || _  _o|| (o)
           ||| || |||
           |||_||_|||      ^~^  ,
           ||______||     ('Y') )
          /__________\    /   \/
  ________|__________|__ (\|||/) _________
 hjw     /____________\
 `97     |____________|
