               )    (   |
               )    (  /    .-
        _ ,---. _   ( /    /
      (~-| . . |-~)  V    /
       \._  0  _,/       /
        / `-^-'`-._     /
       '           `-. (
      :               )E
      :          ,---' (
       .            )E (
        '._____,---'   (
               )       (
               )       (
               )       (
               )       (
