              _ __  _
             ;'   '',)
             /;6 , ;/
            (Y)_:., |
             `-', :; \
               |;  ,.:\
              /:.;   ;;)
             |:;,.'|  :/
            / |:  / ; /
           /:;\ `| "//
          /_,: | |./,|
        _/: \.'|,|/| |
       /:.,:.|,|"| |:|
      /:;:|:,/;|:| |'|
 snd  |',:| \_ \ |_|;\_
     /;\_ /\_)) \_))\_))
    (;(________
     '''''`'''~`
